<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Asegurados</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Asegurados</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Asegurado Persona Natural</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form method="POST" action="/sistema/update-natural-insured">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Cédula</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="cedula_asegurado_per_nat"
                                                id="cedula_asegurado_per_nat"
                                                value="<%= naturalInsured.cedula_asegurado_per_nat %>" 
                                                class="form-control number_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="nombre_asegurado_per_nat"
                                                id="nombre_asegurado_per_nat" 
                                                value="<%= naturalInsured.nombre_asegurado_per_nat %>" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Apellido</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="apellido_asegurado_per_nat"
                                                id="apellido_asegurado_per_nat" 
                                                value="<%= naturalInsured.apellido_asegurado_per_nat %>" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="tel"
                                                name="telefono_asegurado_per_nat"
                                                id="telefono_asegurado_per_nat" 
                                                value="<%= naturalInsured.telefono_asegurado_per_nat %>" 
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="email" 
                                                name="correo_asegurado_per_nat"
                                                id="correo_asegurado_per_nat"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                value="<%= naturalInsured.correo_asegurado_per_nat %>"
                                                class="form-control" 
                                                required
                                            >
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Celular</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="tel"
                                                name="celular_per_nat"
                                                id="celular_per_nat" 
                                                value="<%= naturalInsured.celular_per_nat %>" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="nombre_emergencia_per_nat"
                                                id="nombre_emergencia_per_nat" 
                                                value="<%= naturalInsured.nombre_emergencia_per_nat %>" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="tel"
                                                name="telefono_emergencia_per_nat"
                                                id="telefono_emergencia_per_nat" 
                                                value="<%= naturalInsured.telefono_emergencia_per_nat %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Agente</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="nombre_com_agente_propio" required>
                                                <option value="<%= ownAgent.nombre_agente_propio %> <%= ownAgent.apellido_agente_propio %>"><%= ownAgent.nombre_agente_propio %> <%= ownAgent.apellido_agente_propio %></option>
                                                <% ownAgents.forEach((ownAgent) => { %>
                                                    <option value="<%= ownAgent.nombre_agente_propio %> <%= ownAgent.apellido_agente_propio %>"><%= ownAgent.nombre_agente_propio %> <%= ownAgent.apellido_agente_propio %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Dirección</label>
                                        <div class="col-sm-10">
                                            <textarea 
                                                name="direccion_asegurado_per_nat"
                                                id="direccion_asegurado_per_nat" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            ><%= naturalInsured.direccion_asegurado_per_nat %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row"><label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input 
                                    type="hidden" 
                                    name="id_asegurado_per_nat"
                                    id="id_asegurado_per_nat"
                                    value="<%= naturalInsured.id_asegurado_per_nat %>"
                                    class="form-control"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a href="/sistema/natural-insureds" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>