<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Póliza</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Póliza</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Póliza</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form action="/sistema/update-policy" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Póliza</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="numero_poliza"
                                                id="numero_poliza"
                                                value="<%= policy.numero_poliza %>"
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Moneda</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_moneda_poliza" required>
                                                <option value="<%= policy.tipo_moneda_poliza %>"><%= policy.tipo_moneda_poliza %></option>
                                                <option value="BOLÍVAR">BOLÍVAR</option>
                                                <option value="DÓLAR">DÓLAR</option>
                                                <option value="EUROS">EUROS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia desde</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_desde_poliza"
                                                id="fecha_desde_poliza"
                                                value="<%= fechaDesdePoliza %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="prima_anual_poliza"
                                                id="prima_anual_poliza"
                                                value="<%= primaAnual %>"
                                                class="form-control number_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_individual_poliza" required>
                                                <option value="<%= policy.tipo_individual_poliza %>"><%= policy.tipo_individual_poliza %></option>
                                                <option value="SALUD">SALUD</option>
                                                <option value="AUTOMÓVIL">AUTOMÓVIL</option>
                                                <option value="PATRIMONIAL">PATRIMONIAL</option>
                                                <option value="FIANZA">FIANZA</option>
                                                <option value="OTROS RAMOS">OTROS RAMOS</option>
                                                <option value="FUNERARIO">FUNERARIO</option>
                                                <option value="VIDA">VIDA</option>
                                                <option value="AP">AP</option>
                                                <option value="VIAJE">VIAJE</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tomador</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_tomador_poliza" required>
                                                <option value="<%= policy.nombre_tomador_poliza %>"><%= policy.nombre_tomador_poliza %></option>
                                                <% takerNames.forEach((takerName) => { %>
                                                    <option value="<%= takerName.nombreTomador %>"><%= takerName.nombreTomador %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Aseguradora</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_aseguradora" required>
                                                <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% insurers.forEach((insurer) => { %>
                                                    <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia hasta</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_hasta_poliza"
                                                id="fecha_hasta_poliza"
                                                value="<%= fechaHastaPoliza %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Estatus</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="estatus_poliza" required>
                                                <option value="<%= policy.estatus_poliza %>"><%= policy.estatus_poliza %></option>
                                                    <option value="VIGENTE">VIGENTE</option>
                                                    <option value="ANULADO">ANULADO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="hidden"
                                                name="id_poliza"
                                                id="id_poliza"
                                                value="<%= policy.id_poliza %>"
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-sm-offset-2">
                            <a href="/sistema/policies" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>