<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Asegurados</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Asegurados</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Asegurado</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form method="POST" action="/sistema/update-insured">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <% if ((insured.cedula_asegurado === null) || (insured.cedula_asegurado === '')) { %>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">Cédula/Rif</label>
                                            <div class="col-sm-10">
                                                <input 
                                                    type="text"
                                                    name="rif_asegurado"
                                                    id="rif_asegurado"
                                                    value="<%= insured.rif_asegurado %>" 
                                                    class="form-control"
                                                    required
                                                >
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">Cédula/Rif</label>
                                            <div class="col-sm-10">
                                                <input 
                                                    type="text"
                                                    name="cedula_asegurado"
                                                    id="cedula_asegurado"
                                                    value="<%= insured.cedula_asegurado %>" 
                                                    class="form-control"
                                                    required
                                                >
                                            </div>
                                        </div>
                                    <% } %>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="nombre_asegurado"
                                                id="nombre_asegurado" 
                                                value="<%= insured.nombre_asegurado %>" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Celular</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="text"
                                                name="telefono_asegurado"
                                                id="telefono_asegurado" 
                                                value="<%= insured.telefono_asegurado %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <input 
                                                type="email"
                                                name="correo_asegurado"
                                                id="correo_asegurado"
                                                value="<%= insured.correo_asegurado %>"
                                                class="form-control" 
                                                required
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input 
                                type="hidden" 
                                name="id_asegurado"
                                id="id_asegurado"
                                value="<%= insured.id_asegurado %>"
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a href="/sistema/insureds" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>