<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Colectivo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Colectivo</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Colectivos Beneficiario</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form action="/sistema/update-beneficiary" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="nombre_beneficiario"
                                                id="nombre_beneficiario"
                                                value="<%= beneficiary.nombre_beneficiario %>"
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Cédula</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="cedula_beneficiario"
                                                id="cedula_beneficiario"
                                                value="<%= beneficiary.cedula_beneficiario %>" 
                                                class="form-control number_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Parentesco</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="parentesco_beneficiario" id="parentesco_beneficiario" required>
                                                <option value="<%= beneficiary.parentesco_beneficiario %>"><%= beneficiary.parentesco_beneficiario %></option>
                                                <option value="PADRE">PADRE</option>
                                                <option value="MADRE">MADRE</option>
                                                <option value="CÓNYUGE">CÓNYUGE</option>
                                                <option value="HIJO">HIJO</option>
                                                <option value="HIJA">HIJA</option>
                                                <option value="SUEGRO">SUEGRO</option>
                                                <option value="SUEGRA">SUEGRA</option>
                                                <option value="HERMANO">HERMANO</option>
                                                <option value="HERMANA">HERMANA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Teléfono</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="tel"
                                                name="telefono_beneficiario"
                                                id="telefono_beneficiario" 
                                                value="<%= beneficiary.telefono_beneficiario %>" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Correo</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="email"
                                                name="correo_beneficiario"
                                                id="correo_beneficiario"
                                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                                                value="<%= beneficiary.correo_beneficiario %>" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Dirección</label>
                                        <div class="col-sm-9">
                                            <textarea 
                                                name="direccion_beneficiario"
                                                id="direccion_beneficiario" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            ><%= beneficiary.direccion_beneficiario %></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Apellido</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="apellido_beneficiario"
                                                id="apellido_beneficiario"
                                                value="<%= beneficiary.apellido_beneficiario %>" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Nacimiento</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fec_nac_beneficiario"
                                                id="fec_nac_beneficiario"
                                                value="<%= fechaNacBeneficiario %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Banco</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="banco_beneficiario"
                                                id="banco_beneficiario"
                                                value="<%= beneficiary.banco_beneficiario %>" 
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo de Cuenta</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_cuenta_beneficiario" id="tipo_cuenta_beneficiario" required>
                                                <option value="<%= beneficiary.tipo_cuenta_beneficiario %>"><%= beneficiary.tipo_cuenta_beneficiario %></option>
                                                <option value="CORRIENTE">CORRIENTE</option>
                                                <option value="NÓMINA">NÓMINA</option>
                                                <option value="AHORRO">AHORRO</option>
                                                <option value="RENUMERADAS">RENUMERADAS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Número Cuenta</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="number"
                                                name="nro_cuenta_beneficiario"
                                                id="nro_cuenta_beneficiario"
                                                value="<%= beneficiary.nro_cuenta_beneficiario %>" 
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo Movimiento</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_movimiento_beneficiario" id="tipo_movimiento_beneficiario" required>
                                                <option value="<%= beneficiary.tipo_movimiento_beneficiario %>"><%= beneficiary.tipo_movimiento_beneficiario %></option>
                                                <option value="EMISIÓN">EMISIÓN</option>
                                                <option value="RENOVACIÓN">RENOVACIÓN</option>
                                                <option value="INCLUSIÓN">INCLUSIÓN</option>
                                                <option value="EXCLUSIÓN">EXCLUSIÓN</option>
                                            </select>
                                        </div>
                                    </div>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row"><label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input 
                                type="hidden"
                                name="id_beneficiario"
                                id="id_beneficiario"  
                                value="<%= beneficiary.id_beneficiario %>" 
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-sm-offset-2">
                            <a href="/sistema/collectives-detail/<%= idCollective.colectivo_id %>" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>