<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Colectivo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Colectivo</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Colectivo</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form action="/sistema/update-collective" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Póliza</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="numero_colectivo"
                                                id="numero_colectivo"
                                                value="<%= collective.numero_colectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Moneda</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_moneda_colectivo">
                                                <option selected value="<%= collective.tipo_moneda_colectivo %>"><%= collective.tipo_moneda_colectivo %></option>
                                                    <option value="Bolivar">Bolivar</option>
                                                    <option value="Dólar">Dólar</option>
                                                    <option value="Euros">Euros</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia desde</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_desde_colectivo"
                                                id="fecha_desde_colectivo"
                                                value="<%= fechaDesdeColectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="number"
                                                step="0.01"
                                                name="prima_anual_colectivo"
                                                id="prima_anual_colectivo"
                                                value="<%= collective.prima_anual_colectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_colectivo">
                                                <option selected value="<%= collective.tipo_colectivo %>"><%= collective.tipo_colectivo %></option>
                                                <option value="Salud">Salud</option>
                                                <option value="Automovil">Automovil</option>
                                                <option value="Riesgos Diversos">Riesgos Diversos</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tomador</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_tomador_colectivo">
                                                <option selected value="<%= collective.nombre_tomador_colectivo %>"><%= collective.nombre_tomador_colectivo %></option>
                                                <% takerNames.forEach((takerName) => { %>
                                                    <option value="<%= takerName.nombreTomador %>"><%= takerName.nombreTomador %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Aseguradora</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_aseguradora">
                                                <option selected value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% insurers.forEach((insurer) => { %>
                                                    <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia hasta</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_hasta_colectivo"
                                                id="fecha_hasta_colectivo"
                                                value="<%= fechaHastaColectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Estatus</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="estatus_colectivo">
                                                <option selected value="<%= collective.estatus_colectivo %>"><%= collective.estatus_colectivo %></option>
                                                    <option value="Vigente">Vigente</option>
                                                    <option value="Anulado">Anulado</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label"></label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="hidden" 
                                                name="id_colectivo"
                                                id="id_colectivo"
                                                value="<%= collective.id_colectivo %>"
                                                class="form-control"
                                            >
                                        </div>
                                    </div>
                                    </br>
                                    </br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-sm-offset-2">
                            <a href="/sistema/collectives" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footer') %>