<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Colectivo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Colectivo</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Editar Colectivo Salud</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <form action="/sistema/update-collective-health" method="POST">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Póliza No.</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="numero_colectivo"
                                                id="numero_colectivo"
                                                value="<%= collective.numero_colectivo %>"
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Tomador</label>
                                        <div class="col-sm-9 field">
                                            <div class="numeral-selector selector">
                                                <div class="select-box-wrapper">
                                                    <select name="tipo_id_rif_tomador" id="select_box">
                                                        <option value="<%= collective.tipo_id_rif_tomador %>"><%= collective.tipo_id_rif_tomador %></option>
                                                        <option value="V">V</option>
                                                        <option value="E">E</option>
                                                        <option value="J">J</option>
                                                        <option value="G">G</option>
                                                        <option value="I">I</option>
                                                        <option value="F">F</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <input 
                                                type="text"
                                                name="id_rif_tomador"
                                                id="id_rif_tomador"
                                                onkeyup="pasarNombreTomador2();"
                                                value="<%= collective.id_rif_tomador %>" 
                                                class="form-control input-numeral"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre/Razón</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="nombre_tomador_colectivo"
                                                id="nombre_tomador_colectivo"
                                                value="<%= collective.nombre_tomador_colectivo %>"
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Correo Tomador</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="email"
                                                name="correo_tomador"
                                                id="correo_tomador"
                                                value="<%= collective.correo_tomador %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Aseguradora</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_aseguradora" required>
                                                <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% insurers.forEach((insurer) => { %>
                                                    <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia desde</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_desde_colectivo"
                                                id="fecha_desde_colectivo"
                                                value="<%= fechaDesdeColectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia hasta</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="date"
                                                name="fecha_hasta_colectivo"
                                                id="fecha_hasta_colectivo"
                                                value="<%= fechaHastaColectivo %>"
                                                class="form-control"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Deducible</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="deducible_colectivo"
                                                id="deducible_colectivo"
                                                value="<%= montoDeducible %>" 
                                                class="form-control currency_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">¿Maternidad?</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="maternidad_colectivo" id="maternidad_colectivo" onchange="showInput()" required>
                                                <option value="<%= collective.maternidad_colectivo %>"><%= collective.maternidad_colectivo %></option>
                                                <option value="SÍ">SÍ</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="searchinput" style="display:none">
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label">Cobertura / Suma</label>
                                            <div class="col-sm-9">
                                                <input 
                                                    type="text"
                                                    name="cobertura_suma_asegurada_colectivo"
                                                    id="cobertura_suma_asegurada_colectivo"
                                                    value="<%= montoCoberturaSumaAsegurada %>" 
                                                    class="form-control currency_format"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Plazos de Espera</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="plazo_espera_colectivo" id="plazo_espera_colectivo" onchange="showInput2()" required>
                                                <option value="<%= collective.plazo_espera_colectivo %>"><%= collective.plazo_espera_colectivo %></option>
                                                <option value="SÍ">SÍ</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" id="searchinput2" style="display:none">
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label">Detalle Cliente</label>
                                            <div class="col-sm-9">
                                                <input 
                                                    type="date"
                                                    name="detalle_cliente_colectivo"
                                                    id="detalle_cliente_colectivo" 
                                                    value="<%= fechaDetalleCliente %>"
                                                    class="form-control"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Grupo</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="grupo_colectivo"
                                                id="grupo_colectivo"
                                                value="<%= collective.grupo_colectivo %>"
                                                class="form-control"
                                                oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="form-control">
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Moneda</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_moneda_colectivo" id="tipo_moneda_colectivo" onchange="currencySignChange()" required>
                                                <option value="<%= collective.tipo_moneda_colectivo %>"><%= collective.tipo_moneda_colectivo %></option>
                                                <option value="BOLÍVAR">BOLÍVAR</option>
                                                <option value="DÓLAR">DÓLAR</option>
                                                <option value="EUROS">EUROS</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Prima Neta</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="prima_neta_colectivo"
                                                id="prima_neta_colectivo"
                                                value="<%= montoPrimaNeta %>" 
                                                class="form-control currency_format"
                                                onkeyup="premiumCalculation()"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">IGTF</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="igtf_colectivo"
                                                id="igtf_colectivo"
                                                value="<%= montoIgtf %>" 
                                                class="form-control currency_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Total Prima</label>
                                        <div class="col-sm-9">
                                            <input 
                                                type="text"
                                                name="prima_total_colectivo"
                                                id="prima_total_colectivo"
                                                value="<%= montoPrimaTotal %>" 
                                                class="form-control currency_format"
                                                required
                                            >
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row" id="radioContainer">
                                        <label class="col-sm-3 col-form-label">Fraccionamiento</label>
                                        <div class="col-sm-9">
                                            <div>
                                                <label><input 
                                                            type="checkbox" 
                                                            name="fraccionamiento_boolean_colectivo" 
                                                            id="fraccionamiento_boolean_colectivo"
                                                            onclick="premiumCalculationDate()"
                                                            <%= collective.fraccionamiento_boolean_colectivo === 1 ? 'checked': '' %> 
                                                        >  
                                                        ¿Aplica Fraccionamiento?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="active-select-1">
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="tipo_fraccionamiento_colectivo" id="tipo_fraccionamiento_colectivo" onchange="premiumCalculationDate()">
                                                    <option value="<%= collective.tipo_fraccionamiento_colectivo %>"><%= collective.tipo_fraccionamiento_colectivo %></option>
                                                    <option value="MENSUAL">MENSUAL</option>
                                                    <option value="BIMESTRAL">BIMESTRAL</option>
                                                    <option value="TRIMESTRAL">TRIMESTRAL</option>
                                                    <option value="SEMESTRAL">SEMESTRAL</option>
                                                    <option value="ANUAL">ANUAL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label">Número de Pagos</label>
                                            <div class="col-sm-9">
                                                <input 
                                                    type="number"
                                                    step="0.01"
                                                    name="numero_pago_colectivo"
                                                    id="numero_pago_colectivo"
                                                    value="<%= collective.numero_pago_colectivo %>" 
                                                    class="form-control"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Canal</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="tipo_canal_colectivo" id="tipo_canal_colectivo" onchange="showList()" required>
                                                <option value="<%= collective.tipo_canal_colectivo %>"><%= collective.tipo_canal_colectivo %></option>
                                                <option value="REDES SOCIALES">REDES SOCIALES</option>
                                                <option value="PÁGINA WEB">PÁGINA WEB</option>
                                                <option value="ÁREA BY ATINA">ÁREA BY ATINA</option>
                                                <option value="AGENTE PROPIO">AGENTE PROPIO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group" id="searchList" style="display:none">
                                        <% if (ownAgent === undefined) { %>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Agente Propio</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_agente_propio"
                                                        id="nombre_agente_propio"
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                    >
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Agente Propio</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_agente_propio"
                                                        id="nombre_agente_propio"
                                                        value="<%= ownAgent.nombre_agente_propio %> <%= ownAgent.apellido_agente_propio %>"
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                    >
                                                </div>
                                            </div>
                                        <% } %>
                                        <div class="hr-line-dashed"></div>
                                    </div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Coordinador Suscripción</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_ejecutivo_coordinador" required>
                                                <option value="<%= executivesNames[0] %>"><%= executivesNames[0] %></option>
                                                <% executives.forEach((executive) => { %>
                                                    <% if (executive.departamento_cargo_ejecutivo === 'SUSCRIPCIÓN COLECTIVO') { %>
                                                        <option value="<%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %>"><%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo de Suscripción</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_ejecutivo_suscripcion" required>
                                                <option value="<%= executivesNames[1] %>"><%= executivesNames[1] %></option>
                                                <% executives.forEach((executive) => { %>
                                                    <% if (executive.departamento_cargo_ejecutivo === 'SUSCRIPCIÓN') { %>
                                                        <option value="<%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %>"><%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo de Siniestros</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_ejecutivo_siniestros" required>
                                                <option value="<%= executivesNames[2] %>"><%= executivesNames[2] %></option>
                                                <% executives.forEach((executive) => { %>
                                                    <% if (executive.departamento_cargo_ejecutivo === 'SINIESTROS') { %>
                                                        <option value="<%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %>"><%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo de Cobranzas</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="nombre_ejecutivo_cobranzas" required>
                                                <option value="<%= executivesNames[3] %>"><%= executivesNames[3] %></option>
                                                <% executives.forEach((executive) => { %>
                                                    <% if (executive.departamento_cargo_ejecutivo === 'COBRANZAS') { %>
                                                        <option value="<%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %>"><%= executive.nombre_ejecutivo %> <%= executive.apellido_ejecutivo %></option>
                                                    <% } %>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row"><label class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-9">
                            <input 
                                type="hidden" 
                                name="id_colectivo"
                                id="id_colectivo"
                                value="<%= collective.id_colectivo %>"
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-sm-offset-2">
                            <a href="/sistema/collectives" class="btn btn-white btn-sm">Cancelar</a>
                            <button class="btn btn-primary btn-sm" type="submit">Guardar Cambios</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Se incluye el layout del footer -->
<%- include('layouts/footerCollectiveWizardForm') %>