<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Pólizas</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Pólizas</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Agregar Póliza Individual Funerario</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Póliza Individual Funerario</h5>
                </div>
                <div class="ibox-content">
                    <div id="form" class="wizard-big wizard-health">
                        <h1><i class="fa fa-window-maximize"></i> Póliza</h1>
                        <fieldset>
                            <form action="/sistema/add-funeral-policy" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Póliza</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="numero_poliza"
                                                        id="numero_poliza"
                                                        placeholder="Número *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tomador</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="id_rif_tomador"
                                                        id="id_rif_tomador"
                                                        onkeyup="pasarNombreTomador();"
                                                        placeholder="Cédula/Rif *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Asegurado</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="id_rif_asegurado"
                                                        id="id_rif_asegurado"
                                                        onkeyup="pasarNombreAsegurado();"
                                                        placeholder="Cédula/Rif *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Correo Tomador</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="email"
                                                        name="correo_tomador"
                                                        id="correo_tomador"
                                                        placeholder="Correo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Correo Asegurado</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="email"
                                                        name="correo_asegurado"
                                                        id="correo_asegurado"
                                                        placeholder="Correo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia desde</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_desde"
                                                        id="fecha_desde"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Moneda</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_moneda">
                                                        <option selected value="0">Seleccione *</option>
                                                            <option value="Bolivar">Bolivar</option>
                                                            <option value="Dólar">Dólar</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Prima Anual</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01"
                                                        name="prima_anual_poliza"
                                                        id="prima_anual_poliza"
                                                        placeholder="Prima *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ramo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_ramo_poliza">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="TRI">TRI</option>
                                                        <option value="RCG">RCG</option>
                                                        <option value="Fidelidad de Empleados">Fidelidad de Empleados</option>
                                                        <option value="Incendio">Incendio</option>
                                                        <option value="Riesgo Diversos">Riesgo Diversos</option>
                                                        <option value="Combinado Empresarial">Combinado Empresarial</option>
                                                        <option value="Combinado Residencial">Combinado Residencial</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tasa</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01"
                                                        name="tasa_poliza"
                                                        id="tasa_poliza"
                                                        placeholder="Tasa Póliza *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Asegurado/Tomador</label>
                                                <div class="col-sm-9">
                                                    <div><label><input type="checkbox" name="tomador_viejo" id="tomador_viejo" onclick="pasarNombreTomador();"> 
                                                                ¿Asegurado mismo tomador?</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre/Razón</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_tomador_poliza"
                                                        id="nombre_tomador_poliza"
                                                        placeholder="Nombre/Razón Social Tomador *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre/Razón</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_asegurado"
                                                        id="nombre_asegurado"
                                                        placeholder="Nombre/Razón Social Asegurado *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Verificar</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="email"
                                                        name="correo_verificar"
                                                        id="correo_verificar"
                                                        placeholder="Verificar Correo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Deducible</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01"
                                                        name="deducible_poliza"
                                                        id="deducible_poliza"
                                                        placeholder="Deducible *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia hasta</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_hasta"
                                                        id="fecha_hasta"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Aseguradora</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="nombre_aseguradora">
                                                        <option selected value="0">Seleccione *</option>
                                                        <% insurers.forEach((insurer) => { %>
                                                            <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Suma Asegurada</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01"
                                                        name="suma_asegurada_poliza"
                                                        id="suma_asegurada_poliza"
                                                        placeholder="Suma Asegurada *"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Canal</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_canal">
                                                        <option selected value="">Seleccione</option>
                                                        <option value="Venta Regular">Venta Regular</option>
                                                        <option value="Redes Sociales">Redes Sociales</option>
                                                        <option value="Pagina Web">Pagina Web</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Grupo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="grupo_poliza"
                                                        id="grupo_poliza"
                                                        placeholder="Grupo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-sm-offset-2">
                                        <div class="card-body d-flex">
                                            <button class="btn btn-primary btn-sm btn-circle ml-auto" type="submit"><i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-file-text-o"></i> Recibo</h1>
                        <fieldset>
                            <form action="/sistema/add-funeral-receipt" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Número</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        name="numero_recibo"
                                                        id="numero_recibo"
                                                        placeholder="Número de Recibo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia Desde</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_desde_recibo"
                                                        id="fecha_desde_recibo" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row" id="radioContainer">
                                                <label class="col-sm-3 col-form-label">Fraccionamiento</label>
                                                <div class="col-sm-9">
                                                    <div>
                                                        <label><input type="checkbox" name="fraccionamiento_boolean_recibo" id="fraccionamiento_boolean_recibo"> 
                                                                ¿Aplica Fraccionamiento?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="active-select-1">
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" name="tipo_fraccionamiento_recibo">
                                                            <option selected value="">Seleccione *</option>
                                                            <option value="Mensual">Mensual</option>
                                                            <option value="Bimensual">Bimensual</option>
                                                            <option value="Trimestral">Trimestral</option>
                                                            <option value="Semestral">Semestral</option>
                                                            <option value="Anual">Anual</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% if (typeof(policy) !== 'undefined') { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="monto_prima_recibo"
                                                            id="monto_prima_recibo"
                                                            value="<%= policy.prima_anual_poliza %>" 
                                                            class="form-control"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="monto_prima_recibo"
                                                            id="monto_prima_recibo"
                                                            placeholder="Monto Prima *" 
                                                            class="form-control"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo de recibo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_recibo">
                                                        <option selected value="">Seleccione *</option>
                                                        <option value="Emisión">Emisión</option>
                                                        <option value="Renovación">Renovación</option>
                                                        <option value="Fraccionamiento">Fraccionamiento</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia Hasta</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_hasta_recibo"
                                                        id="fecha_hasta_recibo"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Método de Pago</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="metodo_pago_recibo">
                                                        <option selected value="">Seleccione *</option>
                                                        <option value="Transferencia">Transferencia</option>
                                                        <option value="Zelle">Zelle</option>
                                                        <option value="Efectivo">Efectivo</option>
                                                        <option value="Tarjeta de debito">Tarjeta de debito</option>
                                                        <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                                                        <option value="Paypal">Paypal</option>
                                                        <option value="Deposito bancario">Deposito bancario</option>
                                                        <option value="Financiamiento">Financiamiento</option>
                                                        <option value="Otros">Otros</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Comisión Asociada</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="monto_comision_recibo"
                                                        id="monto_comision_recibo"
                                                        placeholder="Comisión Asociada *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-sm-offset-2">
                                        <div class="card-body d-flex">
                                            <button class="btn btn-primary btn-sm btn-circle ml-auto" type="submit"><i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-usd"></i> Comisión</h1>
                        <fieldset>
                            <form action="/sistema/add-funeral-commission" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Agente Propio</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_agente_comision"
                                                        id="porcentaje_agente_comision"
                                                        placeholder="Porcentaje Agente Propio *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Caso Especial</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="caso_especial_comision"
                                                        id="caso_especial_comision"
                                                        placeholder="Porcentaje Caso Especial" 
                                                        class="form-control"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_ejecutivo_comision"
                                                        id="porcentaje_ejecutivo_comision"
                                                        placeholder="Porcentaje Ejecutivo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fundatina</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_fundatina_comision"
                                                        id="porcentaje_fundatina_comision"
                                                        value="0.35" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_ejecutivo_suscripcion"
                                                        id="porcentaje_ejecutivo_suscripcion"
                                                        placeholder="Porcentaje Ejecutivo de Suscripción *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Operativa Director</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_director_comision"
                                                        id="porcentaje_director_comision"
                                                        value="2.5" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Operativa Socio</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_socio_comision"
                                                        id="porcentaje_socio_comision"
                                                        value="2.5" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Atina</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_atina_comision"
                                                        id="porcentaje_atina_comision"
                                                        placeholder="Porcentaje Atina *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        step="0.01" 
                                                        name="porcentaje_ejecutivo_reclamo"
                                                        id="porcentaje_ejecutivo_reclamo"
                                                        placeholder="Porcentaje Ejecutivo de Reclamos *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-sm-offset-2">
                                        <div class="card-body d-flex">
                                            <button class="btn btn-primary btn-sm btn-circle ml-auto" type="submit"><i class="fa fa-check"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- Se incluye el layout del footer -->
<%- include('layouts/footerWizardForm') %>