<!-- Se incluye el layout de header -->
<%- include('layouts/header') %>

<div class="row border-bottom white-bg dashboard-header">
    <div class="col-md-5">
        <h1>Bienvenido <%= name %></h1>
    </div>
    <div class="col-md-7">
        <img alt="image" class="logo-img" src="/img/ISOTIPO_V1_ATINA.png"/>
    </div>
</div>

<div class="row container">
    <div class="col-lg-10">
        <h3>Prima Totales Ingresadas: <%= totalPremium %> USD</h3>
        <h3>Comisiones Generadas: <%= totalCommission %> USD</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Siniestralidad DL</h4>
            </div>
            <div class="ibox-content">
                <div class="col-sm-12">
                    <form method="POST" action="/sistema/graph-accident-rate">
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Desde Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_inicio"
                                        id="fecha_inicio"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Hasta Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_final"
                                        id="fecha_final"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>
                    <div id="chartSiniestralidad">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Prima cobradas DL</h4>
            </div>
            <div class="ibox-content">
                <div class="col-sm-12">
                    <form method="POST" action="/sistema/graph-premium-collected">
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Desde Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_inicio"
                                        id="fecha_inicio"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Hasta Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_final"
                                        id="fecha_final"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>
                    <div id="chartPrimaCobrada">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Composición de cartera DL</h4>
            </div>
            <div class="ibox-content">
                <div class="col-sm-12">
                    <form method="POST" action="/sistema/graph-portfolio-composition">
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Desde Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_inicio"
                                        id="fecha_inicio"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Hasta Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_final"
                                        id="fecha_final"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>
                    <div id="chartComposicionCartera">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Persistencia DL</h4>
            </div>
            <div class="ibox-content">
                <div class="col-sm-12">
                    <form method="POST" action="/sistema/graph-persistence">
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Desde Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_inicio"
                                        id="fecha_inicio"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha Hasta Inicio Póliza</label>
                                <div class="col-sm-9">
                                    <input 
                                        type="date"
                                        name="fecha_final"
                                        id="fecha_final"
                                        class="form-control"
                                        required
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>
                    <div id="chartPersistencia">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h4>Número de Pólizas por ramo:</h4>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Tipo de Póliza</th>
                                <th>Números de Pólizas</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Salud</td>
                                <td><%= healthPolicyCount %></td>
                            </tr>
                            <tr>
                                <td>Vehículo</td>
                                <td><%= autoPolicyCount %></td>
                            </tr>
                            <tr>
                                <td>Patrimonial</td>
                                <td><%= patrimonialPolicyCount.patrimonial %></td>
                            </tr>
                            <tr>
                                <td>Fianza</td>
                                <td><%= bailPolicyCount.bail %></td>
                            </tr>
                            <tr>
                                <td>Otros Ramos</td>
                                <td><%= anotherBranchPolicyCount.anotherBranch %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Tipo de Póliza</th>
                                <th>Números de Pólizas</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Funerario</td>
                                <td><%= funeralPolicyCount.funeral %></td>
                            </tr>
                            <tr>
                                <td>Vida</td>
                                <td><%= lifePolicyCount.life %></td>
                            </tr>
                            <tr>
                                <td>AP</td>
                                <td><%= apPolicyCount.ap %></td>
                            </tr>
                            <tr>
                                <td>Viaje</td>
                                <td><%= travelPolicyCount.travel %></td>
                            </tr>
                            <tr>
                                <td>Riesgos Diversos</td>
                                <td><%= riskDiverCollectiveCount.risk %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>
<div class="footer">
    <div>
        
    </div>
</div>
    
<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/js/plugins/toastr/toastr.min.js"></script>

<!-- DataTables -->
<script src="/js/plugins/dataTables/datatables.min.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>`

<!-- Chartist -->
<script src="/js/plugins/chartist/chartist.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<% if (typeof(arrayAccidentRate) !== 'undefined') { %>
    <script>
        let accidentRate = <%- JSON.stringify(arrayAccidentRate) %>;
        localStorage.setItem("formDataAccidentRate", JSON.stringify(accidentRate));
        let options4 = {
            series: [{
                name: 'monto',
                data: accidentRate
            }],
            chart: {
                type: 'bar'
            },
            plotOptions: {
                bar: {
                barHeight: '50%',
                distributed: true,
                horizontal: true,
                dataLabels: {
                    position: 'bottom'
                },
                }
            },
            colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa'],
            dataLabels: {
                enabled: true,
                textAnchor: 'start',
                style: {
                    colors: ['#fff']
                },
                formatter: function (val, opt) {
                    return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                },
                offsetX: 0,
                dropShadow: {
                    enabled: true
                }
            },
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial', 'Fianzas'],
            },
            yaxis: {
                labels: {
                    show: false
                }
            },
        };

        let chart4 = new ApexCharts(document.querySelector("#chartSiniestralidad"), options4);
        chart4.render();
    </script>
<% } else { %>
    <script>
        const formDataAccidentRate = JSON.parse(localStorage.formDataAccidentRate);
        let optionsAccidentRate = {
            series: [{
                name: 'monto',
                data: formDataAccidentRate
            }],
            chart: {
                type: 'bar'
            },
            plotOptions: {
                bar: {
                barHeight: '50%',
                distributed: true,
                horizontal: true,
                dataLabels: {
                    position: 'bottom'
                },
                }
            },
            colors: ['#33b2df', '#546E7A', '#d4526e', '#13d8aa'],
            dataLabels: {
                enabled: true,
                textAnchor: 'start',
                style: {
                    colors: ['#fff']
                },
                formatter: function (val, opt) {
                    return opt.w.globals.labels[opt.dataPointIndex] + ":  " + val
                },
                offsetX: 0,
                dropShadow: {
                    enabled: true
                }
            },
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial', 'Fianzas'],
            },
            yaxis: {
                labels: {
                    show: false
                }
            },
        };

        let chartAccidentRate = new ApexCharts(document.querySelector("#chartSiniestralidad"), optionsAccidentRate);
        chartAccidentRate.render();
    </script>
<% } %>

<% if (typeof(arrayPremiumCharged) !== 'undefined') { %>
    <script>
        let premiumCharged = <%- JSON.stringify(arrayPremiumCharged) %>;
        localStorage.setItem("formDataPremiumCharged", JSON.stringify(premiumCharged));
        let options = {
            chart: {
                type: 'bar'
            },
            series: [{
                name: 'monto',
                data: premiumCharged
            }],
            xaxis: {
                categories: ['Prima Cobrada', 'Prima Devuelta', 'Prima Cobrada Neta']
            },
            plotOptions: {
                bar: {
                    distributed: true
                }
            }
        }

        let chart = new ApexCharts(document.querySelector("#chartPrimaCobrada"), options);
        chart.render();
    </script>
<% } else { %>
    <script>
        const formDataPremiumCharged = JSON.parse(localStorage.formDataPremiumCharged);
        let optionsPremium = {
            chart: {
                type: 'bar'
            },
            series: [{
                name: 'monto',
                data: formDataPremiumCharged
            }],
            xaxis: {
                categories: ['Prima Cobrada', 'Prima Devuelta', 'Prima Cobrada Neta']
            },
            plotOptions: {
                bar: {
                    distributed: true
                }
            }
        }

        let chartPremium = new ApexCharts(document.querySelector("#chartPrimaCobrada"), optionsPremium);
        chartPremium.render();
    </script>
<% } %>

<% if (typeof(arrayPortfolioComposition) !== 'undefined') { %>
    <script>
        let portfolioComposition = <%- JSON.stringify(arrayPortfolioComposition) %>;
        localStorage.setItem("formDataPortfolioComposition", JSON.stringify(portfolioComposition));
        let options2 = {
            series: [{
                name: 'monto',
                data: portfolioComposition
            }],
            chart: {
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: true,
                    distributed: true,
                    barHeight: '50%'
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial', 'Fianzas'],
            }
        };

        let chart2 = new ApexCharts(document.querySelector("#chartComposicionCartera"), options2);
        chart2.render();
    </script>
<% } else { %>
    <script>
        const formDataPortfolioComposition = JSON.parse(localStorage.formDataPortfolioComposition);
        let optionsPortfolio = {
            series: [{
                name: 'monto',
                data: formDataPortfolioComposition
            }],
            chart: {
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    borderRadius: 4,
                    horizontal: true,
                    distributed: true,
                    barHeight: '50%'
                }
            },
            dataLabels: {
                enabled: false
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial', 'Fianzas'],
            }
        };

        let chartPortfolio = new ApexCharts(document.querySelector("#chartComposicionCartera"), optionsPortfolio);
        chartPortfolio.render();
    </script>
<% } %>

<% if (typeof(arrayPolizaRenovada) !== 'undefined') { %>
    <script>
        let policyNotRenewed = <%- JSON.stringify(arrayPolizaNoRenovada) %>;
        localStorage.setItem("formDataPolicyNotRenewed", JSON.stringify(policyNotRenewed));
        let policyRenewed = <%- JSON.stringify(arrayPolizaRenovada) %>;
        localStorage.setItem("formDataPolicyRenewed", JSON.stringify(policyRenewed));
        let options3 = {
            series: [{
                name: 'Póliza no Renovadas',
                data: policyNotRenewed
                }, {
                name: 'Póliza Renovadas',
                data: policyRenewed
                }],
            chart: {
                type: 'bar'
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial'],
            },
            fill: {
                opacity: 1
            },
        };

        let chart3 = new ApexCharts(document.querySelector("#chartPersistencia"), options3);
        chart3.render();
    </script>
<% } else { %>
    <script>
        const formDataPolicyNotRenewed = JSON.parse(localStorage.formDataPolicyNotRenewed);
        const formDataPolicyRenewed = JSON.parse(localStorage.formDataPolicyRenewed);
        let optionsPolicy = {
            series: [{
                name: 'Póliza no Renovadas',
                data: formDataPolicyNotRenewed
                }, {
                name: 'Póliza Renovadas',
                data: formDataPolicyRenewed
                }],
            chart: {
                type: 'bar'
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '55%',
                    endingShape: 'rounded'
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
            },
            xaxis: {
                categories: ['Automóvil', 'Salud', 'Patrimonial'],
            },
            fill: {
                opacity: 1
            },
        };

        let chartPolicy = new ApexCharts(document.querySelector("#chartPersistencia"), optionsPolicy);
        chartPolicy.render();
    </script>
<% } %>

</body>

</html>