<!-- Se incluye el layout del header -->
<%- include('layouts/header') %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Colectivo</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/sistema">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Colectivo</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Agregar Colectivo Vehículo</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Colectivo Vehículo</h5>
                </div>
                <div class="ibox-content">
                    <div id="form-vehicle-collective" class="wizard-big wizard-health">
                        <h1><i class="fa fa-window-maximize"></i> Colectivo</h1>
                        <fieldset>
                            <form id="policy-form" action="/sistema/add-vehicle-collective" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Póliza</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="numero_colectivo"
                                                        id="numero_colectivo"
                                                        placeholder="Número *" 
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tomador</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="id_rif_tomador"
                                                        id="id_rif_tomador"
                                                        onkeyup="pasarNombreTomador();"
                                                        placeholder="Cédula/Rif *" 
                                                        class="form-control number_format"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase().replace(/\s+/g, '');this.setSelectionRange(p, p);"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Asegurado</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="id_rif_asegurado"
                                                        id="id_rif_asegurado"
                                                        onkeyup="pasarNombreAsegurado();"
                                                        placeholder="Cédula/Rif *" 
                                                        class="form-control number_format"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase().replace(/\s+/g, '');this.setSelectionRange(p, p);"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Correo Tomador</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="email"
                                                        name="correo_tomador"
                                                        id="correo_tomador"
                                                        placeholder="Correo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Correo Asegurado</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="email"
                                                        name="correo_asegurado"
                                                        id="correo_asegurado"
                                                        placeholder="Correo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia desde</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_desde_colectivo"
                                                        id="fecha_desde_colectivo"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Moneda</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_moneda_colectivo" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="BOLÍVAR">BOLÍVAR</option>
                                                        <option value="DÓLAR">DÓLAR</option>
                                                        <option value="EUROS">EUROS</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Prima Anual</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="prima_anual_colectivo"
                                                        id="prima_anual_colectivo"
                                                        placeholder="Prima Anual *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">¿Maternidad?</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="maternidad_colectivo" id="maternidad_colectivo" onchange="showInput()" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="SÍ">SÍ</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="searchinput" style="display:none">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Cobertura / Suma</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="cobertura_suma_asegurada_colectivo"
                                                        id="cobertura_suma_asegurada_colectivo"
                                                        placeholder="Cobertura / Suma Asegurada" 
                                                        class="form-control number_format"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Asegurado/Tomador</label>
                                                <div class="col-sm-9">
                                                    <div><label><input type="checkbox" name="tomador_asegurado_colectivo" id="tomador_asegurado_colectivo" onclick="pasarNombreTomador();"> 
                                                                ¿Asegurado mismo tomador?</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre/Razón</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_tomador_colectivo"
                                                        id="nombre_tomador_colectivo"
                                                        placeholder="Nombre/Razón Social Tomador *" 
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Nombre/Razón</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="nombre_asegurado"
                                                        id="nombre_asegurado"
                                                        placeholder="Nombre/Razón Social Asegurado *" 
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Deducible</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="deducible_colectivo"
                                                        id="deducible_colectivo"
                                                        placeholder="Deducible *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Grupo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="grupo_colectivo"
                                                        id="grupo_colectivo"
                                                        placeholder="Grupo" 
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia hasta</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_hasta_colectivo"
                                                        id="fecha_hasta_colectivo"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Aseguradora</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="nombre_aseguradora" required>
                                                        <option value="">Seleccione *</option>
                                                        <% insurers.forEach((insurer) => { %>
                                                            <option value="<%= insurer.nombre_aseguradora %>"><%= insurer.nombre_aseguradora %></option>
                                                        <% }); %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Canal</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_canal_colectivo" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="REDES SOCIALES">REDES SOCIALES</option>
                                                        <option value="PÁGINA WEB">PÁGINA WEB</option>
                                                        <option value="ÁREA BY ATINA">ÁREA BY ATINA</option>
                                                        <option value="AGENTE PROPIO">AGENTE PROPIO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Plazos de Espera</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="plazo_espera_colectivo" id="plazo_espera_colectivo" onchange="showInput2()" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="SÍ">SÍ</option>
                                                        <option value="NO">NO</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" id="searchinput2" style="display:none">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Detalle Cliente</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text"
                                                        name="detalle_cliente_colectivo"
                                                        id="detalle_cliente_colectivo"
                                                        placeholder="Detalle desde cuando es cliente" 
                                                        class="form-control"
                                                        oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-automobile"></i> Vehículo</h1>
                        <fieldset>
                            <form id="extra-form" action="/sistema/add-transportation" method="POST" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-2 col-form-label">Tipo de Movimiento</label>
                                                <div class="col-sm-10">
                                                    <select class="form-control" name="tipo_movimiento_vehiculo" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="EMISIÓN">EMISIÓN</option>
                                                        <option value="RENOVACIÓN">RENOVACIÓN</option>
                                                        <option value="INCLUSIÓN">INCLUSIÓN</option>
                                                        <option value="EXCLUSIÓN">EXCLUSIÓN</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input id="excelAuto" name="excelAuto" type="file" class="custom-file-input">
                                                <label for="xlsx" class="custom-file-label">Elija un archivo...</label>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-file-text-o"></i> Recibo</h1>
                        <fieldset>
                            <form id="receipt-form" action="/sistema/add-vehicle-receipt-collective" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Número</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="number"
                                                        name="numero_recibo"
                                                        id="numero_recibo"
                                                        placeholder="Número de Recibo *" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo Fecha</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_fecha_recibo" id="tipo_fecha_recibo" required onchange="automaticDates()">
                                                        <option value="">Seleccione *</option>
                                                        <option value="MENSUAL">MENSUAL</option>
                                                        <option value="TRIMESTRAL">TRIMESTRAL</option>
                                                        <option value="SEMESTRAL">SEMESTRAL</option>
                                                        <option value="ANUAL">ANUAL</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia Desde</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_desde_recibo"
                                                        id="fecha_desde_recibo" 
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row" id="radioContainer">
                                                <label class="col-sm-3 col-form-label">Fraccionamiento</label>
                                                <div class="col-sm-9">
                                                    <div>
                                                        <label><input type="checkbox" name="fraccionamiento_boolean_recibo" id="fraccionamiento_boolean_recibo" onclick="premiumCalculationDate()"> 
                                                                ¿Aplica Fraccionamiento?
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="active-select-1">
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Fecha de Pago</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="date"
                                                            name="fecha_pago_recibo"
                                                            id="fecha_pago_recibo" 
                                                            class="form-control"
                                                            onchange="premiumCalculationDate()"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% if (typeof(collective) !== 'undefined') { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="text" 
                                                            name="monto_prima_recibo"
                                                            id="monto_prima_recibo"
                                                            value="<%= collective.prima_anual_colectivo %>" 
                                                            class="form-control number_format"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="text" 
                                                            name="monto_prima_recibo"
                                                            id="monto_prima_recibo"
                                                            placeholder="Monto Prima *" 
                                                            class="form-control number_format"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo de recibo</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="tipo_recibo" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="EMISIÓN">EMISIÓN</option>
                                                        <option value="RENOVACIÓN">RENOVACIÓN</option>
                                                        <option value="MODIFICACIÓN">MODIFICACIÓN</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Método de Pago</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="metodo_pago_recibo" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="TRANSFERENCIA">TRANSFERENCIA</option>
                                                        <option value="ZELLE">ZELLE</option>
                                                        <option value="EFECTIVO">EFECTIVO</option>
                                                        <option value="TARJETA DE DÉBITO">TARJETA DE DÉBITO</option>
                                                        <option value="TARJETA DE CRÉDITO">TARJETA DE CRÉDITO</option>
                                                        <option value="PAYPAL">PAYPAL</option>
                                                        <option value="DEPOSITO BANCARIO">DEPOSITO BANCARIO</option>
                                                        <option value="FINANCIAMIENTO">FINANCIAMIENTO</option>
                                                        <option value="OTROS">OTROS</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Vigencia Hasta</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="date"
                                                        name="fecha_hasta_recibo"
                                                        id="fecha_hasta_recibo"
                                                        class="form-control"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div id="active-select-2">
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Tipo</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" name="tipo_fraccionamiento_recibo" id="tipo_fraccionamiento_recibo" onchange="premiumCalculationDate()">
                                                            <option value="">Seleccione</option>
                                                            <option value="MENSUAL">MENSUAL</option>
                                                            <option value="TRIMESTRAL">TRIMESTRAL</option>
                                                            <option value="SEMESTRAL">SEMESTRAL</option>
                                                            <option value="ANUAL">ANUAL</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Número de Pagos</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="numero_pago_recibo"
                                                            id="numero_pago_recibo"
                                                            value="0" 
                                                            class="form-control"
                                                            onchange="premiumCalculationDate()"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Comisión Asociada</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="monto_comision_recibo"
                                                        id="monto_comision_recibo"
                                                        placeholder="Comisión Asociada *"
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-usd"></i> Comisión</h1>
                        <fieldset>
                            <form id="commission-form" action="/sistema/add-vehicle-commission-collective" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <% if (typeof(ownAgent) !== 'undefined') { %>
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Agente Propio</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="porcentaje_agente_comision"
                                                            id="porcentaje_agente_comision"
                                                            value="<%= ownAgent.porcentaje_agente_propio %>"
                                                            class="form-control"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            <% } else { %>
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Agente Propio</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="text"
                                                            name="porcentaje_agente_comision"
                                                            id="porcentaje_agente_comision"
                                                            placeholder="Porcentaje Agente Propio *"
                                                            class="form-control number_format" 
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Caso Especial</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="caso_especial_comision"
                                                        id="caso_especial_comision"
                                                        placeholder="Porcentaje Caso Especial" 
                                                        class="form-control number_format"
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_ejecutivo_suscripcion"
                                                        id="porcentaje_ejecutivo_suscripcion"
                                                        placeholder="Porcentaje Ejecutivo de Suscripción *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_ejecutivo_siniestro"
                                                        id="porcentaje_ejecutivo_siniestro"
                                                        placeholder="Porcentaje Ejecutivo de Siniestros *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Fundatina</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_fundatina_comision"
                                                        id="porcentaje_fundatina_comision"
                                                        value="0,35" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Operativa Director</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_director_comision"
                                                        id="porcentaje_director_comision"
                                                        value="2,5" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Operativa Socio</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_socio_comision"
                                                        id="porcentaje_socio_comision"
                                                        value="2,5" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Ejecutivo</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_ejecutivo_cobranza"
                                                        id="porcentaje_ejecutivo_cobranza"
                                                        placeholder="Porcentaje Ejecutivo de Cobranzas *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Atina</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        type="text" 
                                                        name="porcentaje_atina_comision"
                                                        id="porcentaje_atina_comision"
                                                        placeholder="Porcentaje Atina *" 
                                                        class="form-control number_format"
                                                        required
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                        <% if (typeof(receipt) !== 'undefined') { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Comisión Asociada</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="monto_comision_comision"
                                                            id="monto_comision_comision"
                                                            value="<%= receipt.monto_comision_recibo %>" 
                                                            class="form-control"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">Comisión Asociada</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="text" 
                                                            name="monto_comision_comision"
                                                            id="monto_comision_comision"
                                                            placeholder="Comisión Asociada *" 
                                                            class="form-control number_format"
                                                            required
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <h1><i class="fa fa-check-square-o"></i> Factor de Verificación</h1>
                        <fieldset>
                            <form id="verification-form" action="/sistema/add-vehicle-verification-collective" method="POST">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <% if (typeof(collective) !== 'undefined') { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">% Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="porcentaje_prima_factor_verificacion"
                                                            id="porcentaje_prima_factor_verificacion"
                                                            value="<%= collective.prima_anual_colectivo %>" 
                                                            class="form-control"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } else { %>
                                            <div class="form-group">
                                                <div class="form-group row"><label class="col-sm-3 col-form-label">% Prima</label>
                                                    <div class="col-sm-9">
                                                        <input 
                                                            type="number"
                                                            step="0.01" 
                                                            name="porcentaje_prima_factor_verificacion"
                                                            id="porcentaje_prima_factor_verificacion"
                                                            placeholder="Porcentaje en dólares por prima *" 
                                                            class="form-control"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="form-group row"><label class="col-sm-3 col-form-label">Estatus Comisión</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="estatus_comision_factor_verificacion" required>
                                                        <option value="">Seleccione *</option>
                                                        <option value="PAGADO">PAGADO</option>
                                                        <option value="PENDIENTE">PENDIENTE</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- Se incluye el layout del footer -->
<%- include('layouts/footerCollectiveWizardForm') %>