</br>
</br>
</br>
<div class="footer">
    
</div>
</div>
</div>

<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Flot -->
<script src="/js/plugins/flot/jquery.flot.js"></script>
<script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/js/plugins/flot/jquery.flot.spline.js"></script>
<script src="/js/plugins/flot/jquery.flot.resize.js"></script>
<script src="/js/plugins/flot/jquery.flot.pie.js"></script>

<!-- Peity -->
<script src="/js/plugins/peity/jquery.peity.min.js"></script>
<script src="/js/demo/peity-demo.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI -->
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- GITTER -->
<script src="/js/plugins/gritter/jquery.gritter.min.js"></script>

<!-- Sparkline -->
<script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Sparkline demo data  -->
<script src="/js/demo/sparkline-demo.js"></script>

<!-- ChartJS-->
<script src="/js/plugins/chartJs/Chart.min.js"></script>

<!-- Toastr -->
<script src="/js/plugins/toastr/toastr.min.js"></script>

<!-- DataTables -->
<script src="/js/plugins/dataTables/datatables.min.js"></script>
<script src="/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/cleave-js/cleave.min.js"></script>

<% if(typeof alert != 'undefined') { %>
<script>
    Swal.fire({
        title: '<%= alertTitle %>',
        text: '<%= alertMessage %>',
        icon: '<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
    }).then(()=>{
        window.location='/<%= ruta %>'
    })
</script>
<% } %>

<script>
    var naturalInsureds = <%- JSON.stringify(naturalInsureds) %>;
    var legalInsureds = <%- JSON.stringify(legalInsureds) %>;
    function pasarNombreAsegurado() {
        var idRif = document.getElementById("id_rif_asegurado").value;
        var selectBox = document.getElementById("select_box").value;
        var selectBox2 = document.getElementById("select_box2").value;
        var beneficiaryId = document.getElementById("cedula_beneficiario").value;
        if ((selectBox === 'J') || (selectBox === 'G') || (selectBox === 'I') || (selectBox === 'F')) {
            for (let i = 0; i < legalInsureds.length; i++) {
                let elementLegalInsured = legalInsureds[i];
                if ((selectBox === elementLegalInsured.tipo_rif_asegurado_per_jur) && (idRif === elementLegalInsured.rif_asegurado_per_jur)) {
                    document.getElementById("nombre_razon_asegurado").value = elementLegalInsured.razon_social_per_jur;
                    pasarNombreBeneficiarioPolizaJur(elementLegalInsured.id_asegurado_per_jur, beneficiaryId, selectBox2);
                    break;
                } else {
                    document.getElementById("nombre_razon_asegurado").value = '';
                    document.getElementById("nombre_beneficiario").value = '';
                }
            }
        } else {
            for (let i = 0; i < naturalInsureds.length; i++) {
                let elementNaturalInsured = naturalInsureds[i];
                if (idRif.match(/^\d/)) {
                    if ((selectBox === elementNaturalInsured.tipo_cedula_asegurado_per_nat) && (idRif === elementNaturalInsured.cedula_asegurado_per_nat)) {
                        document.getElementById("nombre_razon_asegurado").value = elementNaturalInsured.nombre_asegurado_per_nat + ' ' + elementNaturalInsured.apellido_asegurado_per_nat;
                        pasarNombreBeneficiarioPolizaNat(elementNaturalInsured.id_asegurado_per_nat, beneficiaryId, selectBox2);
                        break;
                    } else {
                        document.getElementById("nombre_razon_asegurado").value = '';
                        document.getElementById("nombre_beneficiario").value = '';
                    }
                } else if (idRif.startsWith('')) {
                    document.getElementById("nombre_razon_asegurado").value = '';
                    document.getElementById("nombre_beneficiario").value = '';
                }
            }
        }
    }
</script>

<script>
    var pii = <%- JSON.stringify(resultsPII) %>;
    var piib = <%- JSON.stringify(resultsPIIB) %>;
    var policies = <%- JSON.stringify(policies) %>;
    var cii = <%- JSON.stringify(resultsCII) %>;
    var ciib = <%- JSON.stringify(resultsCIIB) %>;
    var collectives = <%- JSON.stringify(collectives) %>;
    var beneficiaries = <%- JSON.stringify(beneficiaries) %>;
    function pasarNombreBeneficiarioPolizaNat(idInsured, beneficiaryId, selectBox2) {
        for (const itemPII of pii) {
            if (itemPII.asegurado_per_nat_id === idInsured) {
                for (const itemPolicy of policies) {
                    if (itemPII.poliza_id === itemPolicy.id_poliza) {
                        if ((itemPolicy.tipo_individual_poliza === 'SALUD') || (itemPolicy.tipo_individual_poliza === 'FUNERARIO') || (itemPolicy.tipo_individual_poliza === 'VIDA')) {
                            for (const itemPIIB of piib) {
                                if (itemPII.id_paa === itemPIIB.paa_id) {
                                    for (const itemBeneficiary of beneficiaries) {
                                        if (itemPIIB.beneficiario_id === itemBeneficiary.id_beneficiario) {
                                            if (beneficiaryId.match(/^\d/)) {
                                                if ((itemBeneficiary.tipo_cedula_beneficiario === selectBox2) && (itemBeneficiary.cedula_beneficiario === beneficiaryId)) {
                                                    var beneficiaryName = itemBeneficiary.nombre_beneficiario + ' ' + itemBeneficiary.apellido_beneficiario;
                                                    document.getElementById("nombre_beneficiario").value = beneficiaryName;
                                                }
                                            } else if (beneficiaryId.startsWith('')) {
                                                document.getElementById("nombre_beneficiario").value = '';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        for (const itemCII of cii) {
            if (itemCII.asegurado_per_nat_id === idInsured) {
                for (const itemCollective of collectives) {
                    if (itemCII.colectivo_id === itemCollective.id_colectivo) {
                        if (itemCollective.tipo_colectivo === 'SALUD') {
                            for (const itemCIIB of ciib) {
                                if (itemCII.id_caa === itemCIIB.caa_id) {
                                    for (const itemBeneficiary of beneficiaries) {
                                        if (itemCIIB.beneficiario_id === itemBeneficiary.id_beneficiario) {
                                            if (beneficiaryId.match(/^\d/)) {
                                                if ((itemBeneficiary.tipo_cedula_beneficiario === selectBox2) && (itemBeneficiary.cedula_beneficiario === beneficiaryId)) {
                                                    var beneficiaryName = itemBeneficiary.nombre_beneficiario + ' ' + itemBeneficiary.apellido_beneficiario;
                                                    document.getElementById("nombre_beneficiario").value = beneficiaryName;
                                                }
                                            } else if (beneficiaryId.startsWith('')) {
                                                document.getElementById("nombre_beneficiario").value = '';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</script>

<script>
    var pii = <%- JSON.stringify(resultsPII) %>;
    var piib = <%- JSON.stringify(resultsPIIB) %>;
    var policies = <%- JSON.stringify(policies) %>;
    var beneficiaries = <%- JSON.stringify(beneficiaries) %>;
    function pasarNombreBeneficiarioPolizaJur(idInsured, beneficiaryId, selectBox2) {
        for (const itemPII of pii) {
            if (itemPII.asegurado_per_jur_id === idInsured) {
                for (const itemPolicy of policies) {
                    if (itemPII.poliza_id === itemPolicy.id_poliza) {
                        if ((itemPolicy.tipo_individual_poliza === 'SALUD') || (itemPolicy.tipo_individual_poliza === 'FUNERARIO') || (itemPolicy.tipo_individual_poliza === 'VIDA')) {
                            for (const itemPIIB of piib) {
                                if (itemPII.id_paa === itemPIIB.paa_id) {
                                    for (const itemBeneficiary of beneficiaries) {
                                        if (itemPIIB.beneficiario_id === itemBeneficiary.id_beneficiario) {
                                            if (beneficiaryId.match(/^\d/)) {
                                                if ((itemBeneficiary.tipo_cedula_beneficiario === selectBox2) && (itemBeneficiary.cedula_beneficiario === beneficiaryId)) {
                                                    var beneficiaryName = itemBeneficiary.nombre_beneficiario + ' ' + itemBeneficiary.apellido_beneficiario;
                                                    document.getElementById("nombre_beneficiario").value = beneficiaryName;
                                                }
                                            } else if (beneficiaryId.startsWith('')) {
                                                document.getElementById("nombre_beneficiario").value = '';
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</script>

<script>
    function showInput() {
        var getSelectValue = document.getElementById("estatus").value;
        if (getSelectValue === 'PAGADO') {
            document.getElementById("searchinput").style.display = "block";
        } else if (getSelectValue !== 'PAGADO') {
            document.getElementById("searchinput").style.display = "none";
        }
    }   
</script>

<script>
    new Cleave('.input-numeral-cedula', {
        numeral: true,
        numeralDecimalMark: ',',
        delimiter: '.'
    });
</script>

<script>
    $(document).ready(function () {
        if ((document.getElementById("select_box").value === 'V') || (document.getElementById("select_box").value === 'E')) {
            var cleaveNumeral = new Cleave('.input-numeral', {
                numeral: true,
                numeralDecimalMark: ',',
                delimiter: '.',
                stripLeadingZeroes: false
            });
        } else {
            var cleaveNumeral = new Cleave('.input-numeral', {
                numeral: true,
                numeralDecimalMark: '!',
                delimiter: '',
                stripLeadingZeroes: false
            });
        }

        $('#select_box').change(function(){
            if ((this.value === 'V') || (this.value === 'E')) {
                var cleaveNumeral = new Cleave('.input-numeral', {
                    numeral: true,
                    numeralDecimalMark: ',',
                    delimiter: '.',
                    stripLeadingZeroes: false
                });
                cleaveNumeral.setRawValue('');
            } else {
                var cleaveNumeral = new Cleave('.input-numeral', {
                    numeral: true,
                    numeralDecimalMark: '!',
                    delimiter: '',
                    stripLeadingZeroes: false
                });
                cleaveNumeral.setRawValue('');
            }
        });
    });
</script>

<script>
    function currencySignChange() {
        let coinType = document.getElementById("tipo_moneda_reclamo").value;
        if (coinType === 'BOLÍVAR') {
            $('.currency_format').toArray().forEach(function(field) {
                new Cleave(field, {
                    numeral: true,
                    numeralDecimalMark: ',',
                    delimiter: '.',
                    prefix: 'Bs ',
                });
            });
        } else if (coinType === 'DÓLAR') {
            $('.currency_format').toArray().forEach(function(field) {
                new Cleave(field, {
                    numeral: true,
                    numeralDecimalMark: ',',
                    delimiter: '.',
                    prefix: '$ ',
                });
            });
        } else if (coinType === 'EUROS') {
            $('.currency_format').toArray().forEach(function(field) {
                new Cleave(field, {
                    numeral: true,
                    numeralDecimalMark: ',',
                    delimiter: '.',
                    prefix: '€ ',
                });
            });
        }
    }   
</script>

</body>

</html>