        </br>
        </br>
        </br>
        <div class="footer">
            
        </div>
    </div>
</div>

<!-- Mainly scripts -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="/js/plugins/toastr/toastr.min.js"></script>

    <!-- DataTables -->
    <script src="/js/plugins/dataTables/datatables.min.js"></script>
    <script src="/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if(typeof alert != 'undefined') { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <script>
        var separador = document.getElementsByClassName('number_format');
        for (var i = 0 ; i < separador.length; i++) {
            separador[i].addEventListener('input', (e) => {
                var entrada = e.target.value.split(','),
                parteEntera = entrada[0].replace(/\./g, ''),
                parteDecimal = entrada[1],
                salida = parteEntera.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
                e.target.value = salida + (parteDecimal !== undefined ? ',' + parteDecimal.replace(/([0-9])([0-9]{2})$/,'') : '');
            }, false); 
        }
    </script>

    <script>
        window.addEventListener("load", function() {
            document.getElementById("radioContainer").addEventListener("click", function() {
                document.getElementById("active-select-1").style.display = document.getElementById("fraccionamiento_boolean_recibo").checked ? "inline" : "none";
                document.getElementById("active-select-2").style.display = document.getElementById("fraccionamiento_boolean_recibo").checked ? "inline" : "none";
            });
        });
    </script>

<% if (typeof(receipt) !== 'undefined') { %>
    <script>
        var receipt = <%- JSON.stringify(receipt) %>;
        function premiumCalculationDate() {
            var getSelectValue = document.getElementById("tipo_fraccionamiento_recibo").value;
            var checkboxDivision = document.getElementById("fraccionamiento_boolean_recibo").checked;
            if (getSelectValue === 'MENSUAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                var numberMonthly = document.getElementById("numero_pago_recibo").value;
                if ((numberMonthly === '') || (numberMonthly === '0')) {
                    numberMonthly = 1;
                }
                var premiumMonthly = receipt.monto_prima_recibo / numberMonthly;
                premiumMonthly = premiumMonthly.toFixed(2);
                document.getElementById("monto_prima_recibo").value = premiumMonthly;
            } else if (getSelectValue === 'TRIMESTRAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 4);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 4);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                var premiumQuarterly = receipt.monto_prima_recibo / 4;
                premiumQuarterly = premiumQuarterly.toFixed(2);
                document.getElementById("monto_prima_recibo").value = premiumQuarterly;
                document.getElementById("numero_pago_recibo").value = 4;
            } else if (getSelectValue === 'SEMESTRAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 6);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 6);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                var premiumBiannual = receipt.monto_prima_recibo / 2;
                premiumBiannual = premiumBiannual.toFixed(2);
                document.getElementById("monto_prima_recibo").value = premiumBiannual;
                document.getElementById("numero_pago_recibo").value = 2;
            }  else if (getSelectValue === 'ANUAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setFullYear(fecha.getFullYear() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setFullYear(fecha.getFullYear() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                var annualPremium = receipt.monto_prima_recibo / 1;
                annualPremium = annualPremium.toFixed(2);
                document.getElementById("monto_prima_recibo").value = annualPremium;
                document.getElementById("numero_pago_recibo").value = 1;
            }
            if (checkboxDivision === false) {
                document.getElementById("monto_prima_recibo").value = receipt.monto_prima_recibo;
                document.getElementById("numero_pago_recibo").value = 0;
                document.getElementById("tipo_fraccionamiento_recibo").value = '';
                document.getElementById("fecha_pago_recibo").value = '';
                document.getElementById("fecha_desde_recibo").value = '';
                document.getElementById("fecha_hasta_recibo").value = '';
            }
        }
    </script>
<% } else { %>
    <script>
        function premiumCalculationDate() {
            var getSelectValue = document.getElementById("tipo_fraccionamiento_recibo").value;
            var checkboxDivision = document.getElementById("fraccionamiento_boolean_recibo").checked;
            if (getSelectValue === 'MENSUAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                document.getElementById("numero_pago_recibo").setAttribute("value", '');
            } else if (getSelectValue === 'TRIMESTRAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 4);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 4);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                document.getElementById("numero_pago_recibo").value = 4;
            } else if (getSelectValue === 'SEMESTRAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 6);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setMonth(fecha.getMonth() + 6);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                document.getElementById("numero_pago_recibo").value = 2;
            }  else if (getSelectValue === 'ANUAL') {
                $(document).ready(function () {
                    $('#tipo_fraccionamiento_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setFullYear(fecha.getFullYear() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_pago_recibo').val(fecha);
                    });
                });
                $(document).ready(function () {
                    $('#fecha_desde_recibo').change(function () {
                        var extraer = $('#fecha_desde_recibo').val();
                        var fecha = new Date(extraer);
                        fecha.setFullYear(fecha.getFullYear() + 1);
                        fecha = fecha.toISOString().substring(0, 10);
                        $('#fecha_hasta_recibo').val(fecha);
                    });
                });
                document.getElementById("numero_pago_recibo").value = 1;
            }
            if (checkboxDivision === false) {
                document.getElementById("numero_pago_recibo").value = 0;
                document.getElementById("tipo_fraccionamiento_recibo").value = '';
                document.getElementById("fecha_pago_recibo").value = '';
                document.getElementById("fecha_desde_recibo").value = '';
                document.getElementById("fecha_hasta_recibo").value = '';
            }
        }
    </script>
<% } %>

    <script>
        var naturalInsureds = <%- JSON.stringify(naturalInsureds) %>;
        var legalInsureds = <%- JSON.stringify(legalInsureds) %>;
        var ownAgents = <%- JSON.stringify(ownAgents) %>;
        function pasarAgentePropio() {
            var idRif = document.getElementById("id_rif_asegurado").value;
            if (idRif.startsWith('J') || idRif.startsWith('G')) {
                for (let i = 0; i < legalInsureds.length; i++) {
                    let elementLegalInsured = legalInsureds[i];
                    if (idRif === elementLegalInsured.rif_asegurado_per_jur) {
                        for (const ownAgent of ownAgents) { 
                            if (elementLegalInsured.agente_propio_id === ownAgent.id_agente_propio) {
                                document.getElementById("nombre_agente_propio").value = ownAgent.nombre_agente_propio + ' ' + ownAgent.apellido_agente_propio;
                                document.getElementById("porcentaje_agente_propio").value = ownAgent.porcentaje_agente_propio;
                                break;
                            } else {
                                document.getElementById("nombre_agente_propio").value = '';
                                document.getElementById("porcentaje_agente_propio").value = '';
                            }
                        }
                        document.getElementById("nombre_razon_asegurado").value = elementLegalInsured.razon_social_per_jur;
                        if (document.getElementById("nombre_agente_propio").value !== '') {
                            break;
                        }
                    } else {
                        document.getElementById("nombre_agente_propio").value = '';
                        document.getElementById("porcentaje_agente_propio").value = '';
                        document.getElementById("nombre_razon_asegurado").value = '';
                    }
                }
            } else {
                for (let i = 0; i < naturalInsureds.length; i++) {
                    let elementNaturalInsured = naturalInsureds[i];
                    if (idRif === elementNaturalInsured.cedula_asegurado_per_nat) {
                        for (const ownAgent of ownAgents) { 
                            if (elementNaturalInsured.agente_propio_id === ownAgent.id_agente_propio) {
                                document.getElementById("nombre_agente_propio").value = ownAgent.nombre_agente_propio + ' ' + ownAgent.apellido_agente_propio;
                                document.getElementById("porcentaje_agente_propio").value = ownAgent.porcentaje_agente_propio;
                                break;
                            } else {
                                document.getElementById("nombre_agente_propio").value = '';
                                document.getElementById("porcentaje_agente_propio").value = '';
                            }   
                        }
                        document.getElementById("nombre_razon_asegurado").value = elementNaturalInsured.nombre_asegurado_per_nat + ' ' + elementNaturalInsured.apellido_asegurado_per_nat;
                        if (document.getElementById("nombre_agente_propio").value !== '') {
                            break;
                        }
                    } else {
                        document.getElementById("nombre_agente_propio").value = '';
                        document.getElementById("porcentaje_agente_propio").value = '';
                        document.getElementById("nombre_razon_asegurado").value = '';
                    }  
                }
            }
        }
    </script>

</body>

</html>