        <div class="footer">
            <div class="float-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>
    </div>
</div>



<!-- Mainly scripts -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia.js"></script>
<script src="/js/plugins/pace/pace.min.js"></script>

<!-- Steps -->
<script src="/js/plugins/steps/jquery.steps.min.js"></script>

<!-- Jquery Validate -->
<script src="/js/plugins/validate/jquery.validate.min.js"></script>

<script src="/js/plugins/jquery.cookie/jquery.cookie.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function(){
        $("#wizard").steps();
        $("#form").steps({
            headerTag: "h1",
            bodyTag: "fieldset",
            titleTemplate:"<span class='text'></span> #title#",
            saveState: true,
            onFinished: (a) => {
                $('#form .steps a:eq(0)').click();
                $('#form').hide();
                window.location='/sistema';
            }
        });
    });
</script>

<% if(typeof alert != 'undefined') { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(()=>{
            window.location='/<%= ruta %>'
        })
    </script>
<% } %>

<script>
    window.addEventListener("load", function() {
        document.getElementById("radioContainer").addEventListener("click", function() {
            document.getElementById("active-select-1").style.display = document.getElementById("fraccionamiento_boolean_recibo").checked ? "inline" : "none";
        });
    });
</script>

<script>
    var policy = <%- JSON.stringify(policy) %>;
    function pasarValor() {
        var montoComision = document.getElementById("comision_asociada_recibo").value
        var totalComision = policy.prima_anual_poliza * montoComision;
        var montoBonificacion = document.getElementById("bonificacion_recibo").value
        if (montoBonificacion == '') {
            document.getElementById("monto_comision_recibo").value = totalComision.toFixed(2);
        } else {
            montoBonificacion = parseFloat(montoBonificacion.replace(',','.'));
            var ivaPorcentaje = montoBonificacion * 0.05;
            var montoBonificacionPorcen = montoBonificacion - ivaPorcentaje.toFixed(2);
            var totalComisionPorcen = totalComision + montoBonificacionPorcen;
            document.getElementById("monto_comision_recibo").value = totalComisionPorcen.toFixed(2); 
        }
    }
</script>


</body>

</html>